@font-face {
    font-family: sev;
    src: url(./fonts/SEVESBRG.TTF);
}

@font-face {
    font-family: bake;
    src: url(./fonts/Bakemono-Stereo-Regular-trial.ttf);
}

@font-face {
    font-family: vig;
    src: url(./fonts/Vigallse\ -\ Vintage\ Modern\ Serif\ Typeface.ttf);
}

@font-face {
    font-family: cool;
    src: url(./fonts/Coolvetica\ Rg.otf);
}

@font-face {
    font-family: mont;
    src: url(./fonts/Mont-HeavyDEMO.otf);
}

body {

    margin: 0;
}

.heading {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.kg {
    font-family: sev;
    font-size: 70px;
    color: darkmagenta;
    cursor: pointer;
    line-height: 0%;
}

.ac a {
    font-family: bake;
    font-size: 25px;
    padding-left: 20px;
    color: darkmagenta;
}

.ac:hover {
    color: rgb(213, 133, 213);

}

h1 {
    color: darkmagenta;
    font-size: 30px;
    font-family: vig;

}

.middle {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.para {
    font-size: 20px;
    text-align: justify;
    padding-right: 35px;
    margin-top: 30px;
    font-family: mont;
}

.img {
    width: 300px;
    padding-left: 35px;
    padding-right: 40px;
}

/* ---------------------------------------------------------------------------------------- */
/* #DIVE IN BUTTON */
/* ---------------------------------------------------------------------------------------- */
button {
    all: unset;
    background-color: darkmagenta;
    color: white;
    height: 60px;
    width: 160px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: all 0.3s ease-in-out;
}

i {
    transition: all 0.3s ease-in-out;
    font-size: 24px;
}

button:hover {
    background-color: rgb(213, 133, 213);
    transition: all 0.3s ease-in-out;
}

button:hover i {
    font-size: 40px;
    transition: all 0.3s ease-in-out;
}

.btn {
    display: flex;
    justify-content: center;
}

/* ---------------------------------------------------------------------------------------- */
/* #CERTIFICATE STYLE */
/* ---------------------------------------------------------------------------------------- */
.certificate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    gap: 40px;
}

.certificate .py img {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
}

.py img:hover {
    border-radius: 10%;
    cursor: pointer;
}

.pycer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate .pycer img {
    border-radius: none;
    border: 4px solid black;
}

.certificate .name {
    font-family: vig;
    font-size: 30px;
    text-align: justify;
}

.mob-view {
    display: none;
}

/* ---------------------------------------------------------------------------------------- */
/* #play ground page */
/* ---------------------------------------------------------------------------------------- */


.ply-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    padding-bottom: 220px;
}

.ply-h1 {
    color: darkmagenta;
    font-size: 65px;
    margin: 0 auto;
    font-family: mont;
    line-height: 20px;
    overflow: hidden;
    padding: 20px 0px;
    animation: typing 2s steps(240, end);
    white-space: nowrap;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 81%
    }
}

.ply-para {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    font-size: 20px;
    font-family: mont;
     overflow: hidden;
    padding: 20px 0px;
    animation: typing 2s steps(240, end);
    white-space: nowrap;

}

.ply-projects {
    font-size: 60px;
    font-family: vig;
    color: rgb(213, 133, 213);

}

.ply-pro-des {
    font-size: 19px;
    font-family: mont;
    color: gray;
    text-align: justify;
    padding: 11px 0px;

}

.project1 {
    display: flex;
    flex-direction: column;
    background-color: rgba(202, 222, 222, 0.625);
    padding: 0px 200px;
}

.ply-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.ply-image>img {
    border-radius: 20px;
    border: 2px solid black;

}
.project2{
    margin-top: 70px;
}

/* ---------------------------------------------------------------------------------------- */
/* MOBILEVIEW */
/* ---------------------------------------------------------------------------------------- */

@media (max-width:500px) {
    .ac {
        display: none;
    }

    .mob-view {
        display: block;

    }

    .certificate .py img {
        width: 90vw;
    }

    .certificate .pycer img {
        width: 90vw;

    }

    .mob-view .menu .mob-icon {
        font-size: 30px;
        display: flex;
        align-items: end;
        justify-content: end;
        position: relative;
    }

    body {
        margin: 0;
    }

    .kg {
        font-size: 50px;
    }

    .hparent {

        display: flex;
        flex-wrap: wrap;
    }

    .para {
        font-size: 13px;
        margin-top: 0;
    }

    .middle {
        padding-left: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
    }

    .hparent {
        margin: 0;

    }

    #mob-view {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 10px 5px 8px #00000080;
        align-items: end;
        position: absolute;
        right: 10px;
        padding: 12px;
        background-color: white
    }

    #mob-view a {
        margin: 10px 0px;
        display: block;
        text-align: end;
        font-family: mont;
        font-size: 18px;
        font-weight: 50px;
        color: rgb(213, 133, 213);

    }

    .mob-view a {
        all: unset;
    }

    .heading {
        background-color: rgb(213, 133, 213);
    }

    .certificate .name {
        font-size: 20px;
    }

    .middle {
        margin-top: 0;
    }

    h1 span {
        display: block;
    }


}